* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  border: 2px solid transparent;

  .auth__block,
  .register__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F8FA;
    border: 1px solid #EAECEF;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 14px;
    color: #24292e;

    .inputs__container {
      width: 80%;
      margin-top: 60px;

      .input_field {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        &:last-child {
          margin-top: 20px;
        }

        input {
          margin-top: 5px;
          height: 30px;
          border: 2px solid #E1E4E8;
          border-radius: 8px;
          outline: none;
          padding: 5px 12px;

          &:focus {
            border: 2px solid #0366D6;
          }
        }
  
        .password {
          margin-top: 0;
        }
  
        label {
          font-weight: 700;
          opacity: 0.8;
        }
      }

      .register__field {
        margin-bottom: 20px;
      }
    }

    .btn__sign-in {
      width: 80%;
      height: 35px;
      background-color: #1074E7;
      border: none;
      border-radius: 8px;
      outline: none;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      margin-top: 20px;
      cursor: pointer;


      &:hover {
        background-color: #0762ca;
      }
    }

    .register-link,
    .login-link {
      text-decoration: none;
      color: #0366D6;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .register__container {
    height: 460px;

    .register__field {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .post-container {
    display: flex;
    justify-content: center;
    background-color: #EDEEF0;
    margin-top: 68px;
    min-height: 100vh;

    article {
      background-color: #fff;
      border: 2px solid #EAECEF;
      border-top: none;
      width: 60%;

      .post-info {
        position: relative;
        margin-top: 40px;
        border-bottom: 4px solid #EAECEF;
        
        .post-title {
          margin: 0 40px;
          h2 {
            margin: 0;
            font-size: 30px;
          }
        }

        .post-author {
          margin: 0 40px;
          font-size: 14px;

          p {
            margin: 0;
            font-weight: 700;
            color: #939598;

            .author-link {
              color: #5199FF;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .post-date {
          margin: 0 40px;
          font-size: 14px;
          color: #58595B;
        }
        
      }

      .post-content {
        margin: 0 60px;
      }
    }
  }

  .profile__container {
    margin-top: 68px;
    height: 87vh;

    .profile {
      display: flex;

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 88vh;

        p {
          font-size: 25px;
          font-weight: 700;
          color: #414042;
        }

        .change-img__btn {
          width: 50%;
          height: 40px;
          background-color: #0260E8;
          border: none;
          border-radius: 10px;
          outline: none;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: #0043A4;
          }
        }

        .profile-picture {
          display: flex;
          width: 70%;
          height: 280px;
          border: 2px solid #24292F;
          border-radius: 100%;
          overflow: hidden;
          margin-top: 50px;

          img {
            width: 100%;
          }
        }
      }

      .users-posts {
        width: 71%;
        height: 88.5vh;
        overflow: hidden;

        h2 {
          margin-left: 10px;
          margin-top: 50px;
          color: #58595B;
        }

        .posts-list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 76vh;
          overflow: auto;
  
          .post {
            border: 3px solid #EDEEF0;
            border-radius: 15px;
            width: 300px;
            overflow: hidden;
            height: 270px;
            margin-bottom: 20px;
            margin-left: 10px;
      
            .post-title {
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              white-space: nowrap;
              font-size: 18px;
              margin: 0;
              padding: 12px 12px;
              text-decoration: none;
              color: #000000;
              cursor: pointer;
      
              &:hover {
                text-decoration: underline;
              }
            }
      
            .post-info {
              font-size: 12px;
              font-weight: 700;
              opacity: 0.7;
              padding-left: 20px;
      
              span {
                display: block;
              }
      
              .post-author {
                .author-link {
                  color: #1771F1;
                  text-decoration: none;
                  cursor: pointer;
      
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
      
            .post-thumbnail {
              padding: 12px 12px;
      
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.navbar {
  background-color: #5EA5F5;
  position: fixed;
  z-index: 1000;
  width: 100%;

  .links__container {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    align-items: center;
    margin: 0;

    li {
      margin-right: 20px;
      font-size: 20px;

      .link {
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 100px;
      margin-top: 4px;
      cursor: pointer;

      &:hover {
        border: 2px solid #fff;
      }
    }
  }

  .context-menu {
    border: 2px solid#EAECEF;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #F6F8FA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 120px;
    height: 80px;

    .link {
      text-decoration: none;
      color: #000000;
      cursor: pointer;
      padding: 5px 12px;
      font-weight: 700;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.feed__container {
  display: flex;
  justify-content: center;
  background-color: #EDEEF0;
  margin-top: 68px;
  min-height: 100vh;

  .feed {
    background-color: #fff;
    border: 2px solid #EAECEF;
    border-top: none;
    width: 50%;

    .feed-header {
      display: flex;
      align-items: center;
      border-bottom: 3px solid #EDEEF0;
      font-size: 14px;

      h3 {
        margin: 0;
        font-size: 25px;
        margin: 0 10px;
        padding: 20px 10px;
      }

      .btn-sort {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
        .submenu {
          display: flex;
          position: absolute;
          z-index: 999;
          flex-direction: column;
          justify-content: center;
          width: 120px;
          height: 100px;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          margin-top: 5px;

          span {
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
    }

    .posts-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px 20px;

      .post {
        border: 3px solid #EDEEF0;
        border-radius: 15px;
        width: 70%;
        overflow: hidden;
        height: 349px;
        margin-bottom: 20px;

        .post-title {
          font-size: 18px;
          margin: 0;
          padding: 12px 12px;
          text-decoration: none;
          color: #000000;
          text-overflow: ellipsis; //образка длинных блоков с текстом
          overflow: hidden; //прятать выходящий за пределы текст
          width: 100%; //ширина блока с текстом
          white-space: nowrap; //запрет на перенос текста
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .post-info {
          font-size: 12px;
          font-weight: 700;
          opacity: 0.7;
          padding-left: 20px;

          span {
            display: block;
          }

          .post-author {
            .author-link {
              color: #1771F1;
              text-decoration: none;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .post-thumbnail {
          padding: 12px 12px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.create-block__container {
  display: flex;
  justify-content: center;
  background-color: #EDEEF0;
  min-height: 100vh;
  height: 736px;
  margin-top: 68px; 

  .create-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #EAECEF;
    border-top: none;
    width: 50%;

    .thumbnail-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 2px solid #EDEEF0;
      height: 140px;

      .input_field {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        label {
          margin-bottom: 10px;
        }

        input {
          margin-top: 5px;
          width: 250px;
          height: 40px;
          border: 2px solid #E1E4E8;
          border-radius: 8px;
          outline: none;
          padding: 10px 12px;

          &:focus {
            border: 2px solid #0366D6;
          }
        }
      }

      .thumbnail {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        .inputfile + label {
          font-size: 18px;
          font-weight: 700;
          color: white;
          background-color: #5EA5F5;
          display: inline-block;
          width: 209px;
          height: 47px;
          text-align: center;
          margin-top: 10px;
          padding-top: 12px;

          svg {
            fill: #fff;
          }

          span {
            padding-left: 10px;
          }
        }

        .inputfile:focus + label,
        .inputfile + label:hover {
          background-color: #1a69c4;
        }

      }
    }

    .text-block {
      margin-left: 35px;

      textarea {
        padding: 5px 12px;
        font-size: 14px;
      }
    }

    .publish-container {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      .post-btn {
        width: 250px;
        height: 50px;
        background-color: #1074E7;
        border: none;
        border-radius: 8px;
        outline: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin-left: 35px;
        cursor: pointer;
  
  
        &:hover {
          background-color: #0762ca;
        }
      }
    }
  }
}

.profile__container {
  margin-top: 70px;  
}

.pop-up {
  position: fixed;
  right: 50px;
  top: 100px;
  z-index: 10001;
  background-color: #252B41;
  border-radius: 5px;
  transition: display 3s;

  p {
    padding: 5px 12px;
    color: #fff;
    font-size: 14px;
  }
}


